/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container-general{
    width: 80%;
    margin: 0 auto;
    padding: 0 10px
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

/*HEADER-TOP*/

.header-top-container{
    width: 100%;
    background-color: #0084FD;
    height: 70px;
}
.header-top-small-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    padding: 20px 0;
    max-width: 130px;
}

/*MOBILE/TABLET HAMBURGER MENU*/

.hamburger-menu-mobile{
    color: white;
    font-size: 25px;
    padding-bottom: 5px;
}

/*DESKTOP MENU*/

.hamburger-menu-ul{
    display: none;
}

.hamburger-menu-ul > ul{
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.hamburger-menu-ul > ul > li{
    list-style: none;
    margin-right: 10px;
}

.hamburger-menu-ul > ul > li > a{
    text-decoration: none;
    color: white
}

#header-top-button{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#header-top-button > a{
    color: black;
}

/*HEADER-BOTTOM*/

#header-bottom{
    margin: 70px 0;
}

.main-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    margin-left: -10px;
    margin-right: -10px;
}

.main-row > .col{
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.col{
    background-color: #B5DDFF;
    border-radius: 15px;
    padding: 10px;
}

.card{
    text-align: center;
    padding: 15px 0;
}

.card > *{
    margin-bottom: 10px;
}

.card > h4{
    font-size: 25px;
    text-align: center;
    color:#0084FD;
}

.card > p{
    font-size: 16px;
    text-align: center;
    color:#5B6F80;
}

.card > i{
    font-size: 70px;
    text-align: center;
    color:#0084FD;
}

.card-2-3{
    width: 100%;
    text-align: left;
}

.card-2-3 > div > h4{
    font-size: 25px;
    color:#0084FD;
    margin-bottom: 15px;
}

.card-2-3 > div > p{
    font-size: 16px;
    color:#5B6F80;
    margin-bottom: 20px;
}

.card-2-3 > div > a{
    background-color:#0084FD;
    border-radius: 10px;
    padding: 10px;
    color:white;
    margin-bottom: 20px;
}

.card-2-3 > div > img{
    margin-top: 20px; 
}



/*MAIN*/

.first-main-section-container-bg{
    background-color: #9792E4;
    min-height: 300px;
    padding: 40px;
    margin: 40px 0;
}

.first-main-section-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.card-main-first-section-1{
    color: white;
    margin: 30px 0;
}

.card-main-first-section-1 > h3{
    margin-bottom: 20px;
}

.card-main-first-section-2{
    background-color: white;
    border-radius: 20px;
}

.card-main-first-section-2 > *{
    text-align: center;
    margin-bottom: 20px;
}

.card-main-first-section-2 > p{
    font-size: 12px;
    letter-spacing: 2px;
    font-style: italic;
}

.card-main-first-section-2 > .fa-solid.fa-arrow, .button-first-main-section{
    text-align: center;
    background-color:#9792E4;
    border-radius: 50%;
    padding: 15px;
    width: max-content;
}

/*TESTIMONIALS*/

.text-section-testimonials{
    text-align: center;
    margin: 30px;
}

.text-section-testimonials > *{
    margin-bottom: 20px;
}

.text-section-testimonials > h4{
    letter-spacing: 2px;
    font-weight: 300;
}

.text-section-testimonials > h2{
    color:#9792E4;
}

.single-card-section-testimonials{
    padding:15px;
    background-color:#9792E4;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
}

.img-testimonials{
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.img-testimonials > img{
    width: 100%;
    height: 100%;
}

.text-img-testimonials{
    color: white;
}

.text-img-testimonials > *{
    margin: 15px 0;
}

/*BENEFITS*/

#title-benefits{
    font-size: 40px;
    color: white;
    text-align: center;
}

.benefits-main-row{
    width:100%;
}

.card-main-benefits{
    background-color: white;
    border-radius: 20px;
    padding:15px;
    margin-bottom: 20px;
}

.col-main-1-3.card-main-benefits > *{
    margin-bottom: 15px;
}

.card-main-benefits > h2{
    font-size: 50px;
    color: #9792E4;
}

.card-main-benefits > h4{
    font-size: 20px;
    color: #9792E4;
}

.card-main-benefits > p{
    font-size: 14px;
    font-weight: 300;   
}

.button-benefits{
    font-size: 14px;
    width: 70px;
    background-color: #9792E4;
    border-radius: 20px;
    padding: 5px 10px;
    color: white;
    text-align: center;
}

/*ABOUT US*/

#title-about-us{
    font-size: 40px;
    color:#9792E4;
}

.about-container{
    margin-bottom: 40px;
}

.text-about-us{
    font-size: 18px;
    line-height: 2em;
    margin-top: 20px;
    margin-bottom: 30px;
}

.img-about-us{
    position:relative;
    display:inline-block;
}

.img-about-us > i{
    position:absolute;
    top:0;
    right: 0;
    font-size: 70px;
    color:#9792E4;
}

.img-text-about-us{
    margin-top: 20px;
}

.small-text-img-about{
    margin: 20px 0;
}

.small-text-img-about > *{
    margin-bottom: 20px;
}

.small-text-img-about > p{
    font-size: 24px;
    font-weight: bold;
    color: #9792E4;
    letter-spacing: 2px;
}

.small-text-img-about > a{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #9792E4;
    border-radius: 10px;
    padding: 5px 10px;
}


/*FOOTER*/

/*FOOTER TOP*/

.footer-top-bg{
    min-height: 250px;
    background-color: #9792E4;
    padding:30px 0;
}

.footer-container{
    width: 40%;
    margin: 0 auto;

}

.text-footer-top{
    text-align: center;
}

.text-footer-top >*{
    text-align: center;
    margin-bottom: 30px;
}

.text-footer-top > h4{
    font-size: 20px;
    font-weight: 400;
    color:lightgray;
    letter-spacing: 1.5px;
}

.text-footer-top > h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.text-footer-top > h2{
    font-size: 50px;
    font-weight: bold;
    color: #FDC05F;
}

.text-footer-top > p{
    font-size: 16px;
    color: white;
}

#footer-top-button{
    width: 100%;
    background-color: white;
    color:#9792E4;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}

.text-footer-top > p > a{
    text-decoration: underline;
    color: white;
    line-height: 2px;
}


/*FOOTER BOTTOM*/

.footer-bottom-bg{
    background-color: #333333;
    min-height: 200px;
    padding:30px 0;
}

.text-footer-bottom{
    font-size: 12px;
    color: white;
    text-align: center;
}

.text-footer-bottom:first-child{
    margin-bottom: 40px;
}

.text-footer-bottom > a{
    text-decoration: underline;
    color:#9792E4;
}

/*RESPONSIVE*/

/*TABLET*/

@media screen and (min-width:576px) {

    .col.col-tablet-1-3{
        width: calc((100% / 3) - 20px);
    }
    
    .col.col-tablet-2-3{
        width: calc(((100% / 3) *2) - 20px);
    }

    /*TESTIMONIALS*/

    .single-card-section-testimonials{
        display: flex;
        align-items: center;
    }

    .single-card-section-testimonials > *{
        margin-right: 20px;
    }

    /*BENEFITS*/

    .col-main{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap:10px;
        margin-bottom: 20px;
    }

    .col-main-1-3.card-main-benefits{
        width: calc((100% / 2) - 20px);
    }

    /*ABOUT US*/
    .about-container{
        display: flex;
        flex-wrap: wrap;
    }

    .about-us-main{
        width: 60%;
        margin-right: 20px;
    }

    .img-text-about-us{
        width: 30%;
    }
}

/*DESKTOP*/

@media screen and (min-width:992px){

    /*HEADER*/
    .hamburger-menu-ul{
        display: block;
    }

    .hamburger-menu-mobile{
        display: none;
    }

    .col.col-tablet-2-3 > .card-2-3{
        display: flex;
        padding-bottom:0;
    }

    .card-2-3 > *{
        width: 50%;
    }

    .card-2-3 > :last-child {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .card-2-3 > :last-child > img{
        max-width: 200px;
    }

    /*MAIN*/
    
    .first-main-section-container{
        width: 60%;
    }

    .first-main-section-container > *{
        margin-left: 10px;
    }

    .card-main-first-section-1{
        width: 50%;
    }

    .card-main-first-section-2{
        width: 45%;
        margin-top: 100px;
        padding: 10px;
    }

    #img-planning1{
        margin: 30px 0;
        max-height: 300px;
        max-width: 300px;
    }

    #img-planning2{
        max-height: 200px;
        max-width: 200px;
        padding: 10px;
        position: relative;
        left: 55px;
    }

    /*BENEFITS*/

    .col-main-1-3.card-main-benefits{
        width: calc((100% / 3) - 20px);
    }
    
    /*ABOUT US*/
    .about-container{
        display: flex;
        flex-wrap: wrap;
    }

    .about-us-main{
        width: 60%;
        margin-right: 20px;
    }

    .img-text-about-us{
        width: 30%;
    }

}

